{% extends "layouts/base.html" %}

{% block title %} 학생목록 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h3">[학생목록]</h1>
        </div>
        <div>
            <a href="name_list" class="btn btn-info">학생 등록</a>
        </div>
    </div>
</div>


<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                <tr>
                    <th class="border-0">학번</th>
                    <th class="border-0">이름</th>
                    <th class="border-0">사진</th>
                    <th class="border-0">관리</th>
                </tr>
                </thead>
                <tbody>
                {% if name_list %}
                    {% for name in name_list %}
                        <tr>
                            <td>{{ name.id }}</td>
                            <td>{{ name.name }}</td>
                            <td>{{ name.count }}개</td>
                            <td>
                                <a href="{{ url_for('Capture_blueprint.face_list', name=name.name) }}"
                                   class="btn btn-sm btn-primary btn-faces">사진 관리</a>
                                <button data-url="{{ url_for('Capture_blueprint.name_delete', name=name.name) }}"
                                        class="btn btn-sm btn-danger btn-delete">삭제
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" class="text-center">데이터가 없습니다.</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="h6 modal-title">삭제</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>데이터를 삭제하시겠습니까?</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-delete-confirm">삭제</button>
              <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">취소</button>
          </div>
      </div>
  </div>
</div>  -->

{% endblock content %}

<!-- Specific Page JS goes HERE
{% block javascripts %}
<script>
    let url = '';

    $('.btn-show-modal-delete').on('click', function() {
        url = $(this).data('url');
        console.log(url);
        $('#modal-delete').modal('show');
    })

    $('.btn-delete-confirm').on('click', function() {
        $(location).attr('href', url);
    })
</script>
{% endblock javascripts %}-->
